
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
  background: linear-gradient(135deg, #a8edea 0%, #b2fefa 50%, #c0f5cb 100%);
  font-family: 'Segoe UI', Roboto, sans-serif;
  text-align: center;
  color: #083d77;
}

 
.home-header {
  margin-bottom: 30px;
}

.home-title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #045d56;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.home-subtitle {
  font-size: 1.2rem;
  color: #045d56cc;
  margin-top: 10px;
}

.home-button {
  background-color: #04b2d9;
  color: white;
  border: none;
  padding: 14px 32px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.home-button:hover {
  background-color: #02a1c5;
  transform: scale(1.05);
}
